(load "~/.emacs.d/init")
(load "~/.emacs.d/custom")
{{ if eq .chezmoi.hostname "dylan-work" -}}
(require 'init-docker)
(require 'init-elixir)
(require 'init-helm)
(require 'init-js)
(require 'init-lisp)
(require 'init-packages)
(require 'init-ruby)
(require 'init-sql)
(require 'init-theme)
(require 'init-web)
{{ else -}}
(require-init-files)
{{ end -}}
