typeset -U path

path=(
    ~/.bin
    ~/.go/bin
    {{ if eq .chezmoi.os "linux" -}}
    ~/.linuxbrew/bin
    {{ end -}}
    ~/.local/bin
    ~/bin
    {{ if eq .chezmoi.os "darwin" -}}
    /usr/local/opt/llvm/bin
    /usr/local/opt/coreutils/libexec/gnubin
    /opt/X11/bin
    {{ end -}}
    "$path[@]"
)
{{ if eq .chezmoi.os "darwin" -}}

# macOS workaround for `path_helper` in /etc/zprofile
export GOODPATH=$PATH
{{ end -}}
