typeset -U path

path=(
    {{ if eq .chezmoi.os "darwin" -}}
    /usr/local/opt/llvm/bin
    /usr/local/opt/coreutils/libexec/gnubin
    /opt/X11/bin
    {{ else }}
    /snap/bin
    {{ end -}}
    /usr/local/bin
    /usr/bin
    /bin
    /usr/sbin
    /sbin
    ~/bin
    ~/.local/bin
    ~/.go/bin
    ~/.pyenv/bin
    ~/.rbenv/bin
)

{{ if eq .chezmoi.os "darwin" -}}
# macOS workaround for `path_helper` in /etc/zprofile
export GOODPATH=$PATH
{{ end -}}
