export EDITOR=emacs
export GOPATH=~/.go
export LANG=en_US.UTF-8
export TERM=xterm-256color
export ZSH=~/.oh-my-zsh

{{ if eq .chezmoi.os "darwin" -}}
# homebrew compiler and linker flags
export CPPFLAGS="-I/usr/local/opt/readline/include"
export LDFLAGS="-L/usr/local/opt/readline/lib"

{{ end -}}
if [ -f ~/.secrets.sh ]; then
    source ~/.secrets.sh
fi
