[user]
	name = "{{ .name }}"
	email = "{{ .email }}"
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
{{- if (index . "github") }}
[github]
	user = "{{ .github.user }}"
	token = "{{ .github.token }}"
{{- end }}
