#!/usr/bin/env bash

check_cmd() {
    command -v "$1" /dev/null 2>&1
}

check_cmd_and_fail() {
    if ! check_cmd "$1" ; then
        >&2 echo "Could not find $1"
        exit 1
    fi
}

install_deps() {
    {{ if eq .chezmoi.os "linux" -}}
    if ! dpkg -s build-essential >/dev/null 2>&1 ; then
        >&2 echo "Could not find build-essential"
        exit 1
    fi
    {{ else if eq .chezmoi.os "darwin" -}}
    check_cmd_and_fail xcode-select
    if xcode-select -p >/dev/null 2>&1 ; then
        xcode-select --install
    fi
    {{ end -}}
}

install_oh_my_zsh() {
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh)" "" --unattended
    if [ -f ~/.zshrc.pre-oh-my-zsh ]; then
        rm ~/.zshrc
        mv ~/.zshrc.pre-oh-my-zsh ~/.zshrc
    fi
}

install_nix() {
    cd "$(mktemp -d)"
    curl -o install-nix-2.3.10 https://releases.nixos.org/nix/nix-2.3.10/install
    curl -o install-nix-2.3.10.asc https://releases.nixos.org/nix/nix-2.3.10/install.asc
    gpg --recv-keys ipv4.pool.sks-keyservers.net B541D55301270E0BCF15CA5D8170B4726D7198DE
    gpg --verify ./install-nix-2.3.10.asc
    sh ./install-nix-2.3.10
    cd -
}

install_deps

if [ ! -d /nix ]; then
    install_nix
fi

if [ ! -d ~/.oh-my-zsh ]; then
    install_oh_my_zsh
fi
